[Unit]
Description=Podcastizer
After=network-online.target

[Service]
ExecStart=/opt/Podcastizer/venv/bin/python3 -m waitress --listen 0.0.0.0:8005 wsgi:app
Restart=on-failure

[Install]
WantedBy=multi-user.target